.someClass {

}

.task{
    display: grid;
    gap: 40px;
    grid-template-columns: 100px 100px 100px;
    justify-items: start;
    justify-content: center;
    padding: 20px;
    color: brown;
}

.but{
    width: 100px;
    color: red;
    background: bisque;
}

.b {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    border: solid 1px;
    margin: 2% 30% 0 30%;

}

.taskDiv{
    background: #9fe3c5;
    margin: 0.2% 30% 0 30%;
}