.superInput:focus {
    border: 3px solid;
    border-color: #00fc00;
    background: white;
    color: black;
    outline: none;
    padding: 5px 5px 5px 10px;
}

.superInput{
    background: white;
    border-radius: 20px;
    padding: 5px 5px 5px 10px;
    border: 3px solid #00ff00;
}

.errorInput {
    border: 3px solid red;
    background: white;
    border-radius: 20px;
    outline: none;
    padding: 5px 5px 5px 10px;
}

.error {
    color: red;
    text-decoration: underline;
}
