label{
    display: flex;
    cursor: pointer;
    align-content: center;
}

.checkbox {
    appearance: none;
    width: 20px;
    height:20px;
    background-color: #fff9cc;
    border-radius: 5px;
    border: 2px solid #01b901;

}

.checkbox:checked{
    appearance: none;
    background-image: url(5.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox:focus{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1pt #fa7600;
    outline: none;
    transition: .1s;

}

.spanClassName {
    color: #117003;
}

