.default {
    border-radius: 5px;
    width: 80px;
    height: 30px;
    font-weight: bolder;
}

.default:hover {
    border-radius: 5px;
    width: 80px;
    height: 30px;
    background: #fff254;
    border-color: coral;
}

.red {
    background: red;
    font-weight: bolder;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border-color: coral;
}